*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Nền trang */
body{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25), #4d4d4f);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form */
#formInbcc{
    background: rgb(205, 212, 213);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    width: 350px;
}

/* Tiêu đề */
#formInbcc h2{
    margin-bottom: 20px;
    color: #333;
}

/* Label */
#formInbcc label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Input */
input.form-control{
    width: 100%;
    padding: 10px;
    border: 2px solid #938484;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s;
}

input.form-control:focus{
    border-color: rgba(76, 67, 67, 0.25);
}

/* Button */
button{
    padding: 10px 20px;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    color: rgb(65, 61, 61);
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #81fe4f;
}

/* Kết quả */
#kq{
    margin-top: 20px;
    padding: 15px;
    background: #ffffff;
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    line-height: 1.8;
}
 